body {
    font-family: 'Aoboshi One', serif;
    background: url(assets/album.png) no-repeat center center/cover fixed;
    color: white;
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    padding: 2em;
    display: flex;
    align-items: center;
    z-index: 2;
}

header nav a {
    font-size: 1.5rem;
    margin-right: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

main p {
    text-transform: uppercase
}

main h2 {
    font-size: 8rem;
    line-height: 8rem;
}

main form {
    padding-top: 70px;
    position: relative;
}

main form label {
    position: absolute;
    bottom: 60px;
}

main form input {
    height: 50px;
    width: 20%;
    background-color: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: solid white 2px;
}

main form button {
    height: 50px;
    padding: 10px 20px;
    border: solid white 2px;
    transition: opacity ease-in 50ms;
}

main form button:hover {
    opacity: 0.8;
    cursor: pointer;
    border: solid transparent 2px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .links a{
    font-size: 3em;
    margin: 0px 15px;
}

footer p {
    padding: 20px;
}

footer p a {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }

    main h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    main form input {
        width: 50%;
    }

    footer {
        position: static;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
    }

    footer .links a {
        font-size: 2rem;
    }
}